@charset "UTF-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.botNav {
  display: block;
}

/*footer code*/
#footer{
	width:100vw;
	background-color:#114B5F;
}
#footernav{
	height:190px;
	display:flex;
	flex-wrap:nowrap;
	align:center;
	width:768px;
	margin:auto;
}
#footerlogo{
		display:flex;
	flex-direction:row;
	flex-wrap: nowrap;
}
#footerlogo img{
	margin-top:50px;
	margin-left:57px;
}
#footerlogo p{
	width:236px;
	color:white;
	margin-top:65px;
	margin-left:15px;
	font-size:12px;
	font-family: 'Montserrat', sans-serif;
}
#contact{
	display:flex;
	flex-wrap:nowrap;
}
#contact p{
	color:white;
	margin-top:75px;
	font-size:13px;
	margin-right:40px;
	font-family: 'Montserrat', sans-serif;
	width:100px;
}
#line{
	display:flex;
	border-left: solid white 2px;
	height:68px;
	margin-top:52px;
	margin-right:40px;
	margin-left:30px;
}
#logos{
	margin-top:29px;
}
#logos img{
	flex-wrap:wrap;
	width:94px;
	margin-top:10px;
}
@media only screen and (min-width: 1270px){
	#footernav{
	height:177px;
	width:1280px;
	flex-wrap: wrap;
}

	#footerlogo{
	flex-wrap:wrap;
}

#footerlogo img{
	margin-left:68px;
	margin-top:45px;
	width:60px;
	height:60px;
}

#footerlogo p{
width:400px;
	margin-top:50px;
	margin-left:15px;
	font-size:15px;
	color:white;
}

#contact p{
	margin-top:72px;
	font-size:15px;
	margin-right:70px;
	width:120px;
}

#line{
	height:63px;
	margin-top:53px;
	margin-right:40px;
	margin-left:40px;
}

#logos{
margin-top:50px;
}

#logos img{
	margin-right:98px;
	flex-wrap:nowrap;
	margin-top:0px;
	width:96px;
	height:62px;
}

#logos .oscar{
	width:116.41px;
	height:48.44px;
}
}
@media only screen and (min-width: 1850px) {
	#footernav{
	height:265px;
	width:1920px;
	flex-wrap: wrap;
}
	
	#footerlogo{
	flex-wrap:wrap;
}

#footerlogo img{
	margin-left:68px;
	margin-top:86px;
	width:90px;
	height:90px;
}

#footerlogo p{
width:659px;
	margin-top:113px;
	margin-left:15px;
	font-size:18px;
	color:white;
}

#contact p{
	margin-top:124px;
	font-size:18px;
	margin-right:300px;
	width:120px;
}

#line{
	height:94px;
	margin-top:93px;
	margin-right:48px;
	margin-left:48px;
}
#logos{
margin-top:95px;
}

	#logos .oscar{
	width:174.45px;
	height:72.58px;
	}
#logos img{
	margin-right:89px;
	flex-wrap:nowrap;
	margin-top:0px;
	width:144.06px;
	height:93.64px;
}
}
/*footer code ends*/