.dropZone{
    width:250px;
    border: red solid 1px;
}
.dragItems{
    border: blue solid 1px;
    background-color: lightblue
}
.dragDropContainer{
    width:800px;
    margin:0 auto;
    border: purple solid 1px;
    display: flex;
    justify-content: space-between
}