.loadingmodal-wrapper{
	margin-top: 400px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.modal-inner { 
	position: fixed;
	margin-top: 40px;
	position: absolute; 
	border-radius: 10px;
	left: 8%;
	right: 8%; 
	width:568px;
	height:580px;  
	top: 2%; 
    margin: 0 auto;   
	}
