#wrapper-result{
	width:768px;
	display:flex;
	margin:0 auto;
}
#sidenav-content{
	height:1218px;
	border-right:1px solid #d3d3d3;
	width:223px;
	display:flex;
	flex-direction:column;

}
#tatalogo img{
	margin-left:70px;
	margin-top:45px;
	margin-bottom:46px;
}
/* #nav-result{
	display:flex;
	width:520px;
	margin-top:67px;
}
#nav-result li{
	list-style:none;
	display:inline;
	margin-right:30px;
	color:#114B5F;
	font-size:15px;
font-family: 'Montserrat', sans-serif;
	font-weight:700px;
}
#nav-result li:first-child{
	margin-left:350px;
} */


.button-result {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 8pt;
	color: #A5A5A5;
	outline: none;
	text-align: center;
	display: block;
	width: 120px;
	height: 25px;
	border-radius: 8px;
	cursor: pointer;
	margin-top:10px;
	margin-left:44px;
	background-color:#F5F5F5;
	border:.5px solid #D3D3D3;
	
}
.download {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 8pt;
	background-color: #114B5F;
		outline: none;
	color:white;
	text-align: center;
	display: block;
	border: none;
	width: 120px;
	height: 25px;
	border-radius: 8px;
	cursor: pointer;
	margin-left:44px;
	margin-top:10px;
}
.delete {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 8pt;
	background-color: #BA4C4C;
	outline: none;
	color:white;
	text-align: center;
	display: block;
	border: none;
	width: 120px;
	height: 25px;
	border-radius: 8px;
	cursor: pointer;
	margin-left:44px;
	margin-top:10px;
}
.button-result:hover {
	background-color: #FF7B26;
	color:white;
	border:none;
}
.download:hover{
	background-color: #0F3E4E;
}
.delete:hover {
	background-color: #D32323;
}

#graphresult-content{
	width:150px;
	font-size:12px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	line-height: 1.65;
	margin-left:44px;
	margin-top:60px;
	color:#114B5F;
}
em {
  font-style: italic;
}
#graphresult-content p{
 margin-top: 15px;}

#graphresult-content p:first-child{
 margin-top: 0px;
}


#graph-display{
	height:725px;
	margin-top: 63px;
}
.graph-result{
	width:465px;
	height:337px;
	border:2px solid grey;
	margin-left:34px;
	margin-top:40px;
}

.graph-result:first-child{
	margin-top:47px;
}

.batch-display{
	height:725px;
	margin-top: 63px;
	
}
.batch-result{
	width:465px;
	height:337px;
	border:2px solid grey;
	margin-left:34px;
	margin-top:40px;
}

/* /////////////////////////////////////////////// */

@media only screen and (min-width: 1270px){
	#wrapper-result{
	width:1280px;
}

#sidenav-content{
	height: 1800px;
	width:263px;
}
#tatalogo img{
	margin-left:100px;
	margin-top:85px;
	margin-bottom:56px;
	width:57px;
	height:59px;
}
#nav-result{
	width:970px;
	margin-top:50px;
}
#nav-result li{
	list-style:none;
	display:inline;
	margin-right:30px;
}
#nav-result li:first-child{
	margin-left:765px;
}
.button-result {
	margin-left:73px;
}
#graph-display{ 
	height:40px;
	margin-top: 83px;
	margin-bottom: 50px;
}
.graph-result{
	width:821px;
	height:500px;
	margin-left:75px;
	margin-top:48px;
}
.graph-result:first-child{
	margin-top:63px;
}

.batch-display{
	height:725px;
	margin-top: 63px;
	display: flex;
	flex-direction: row;	
	
}
.batch-result{
	width:460px;
	height:450px;
	border:2px solid grey;
	margin-left:34px;
	margin-top:40px;
}

.delete {
	margin-left:73px;
	margin-top: 10px;
	margin-bottom:30px;

}
/* #download-data{
	margin-left: 29px;
} */
.download{
	margin-left: 73px;
}
#graphresult-content{
	width:173px;
	font-size: 15px;
	line-height: 1.60;
	margin-left:73px;
	margin-top:40px;
	height:270px;
}
 #graphresult-content p{
	margin-top: 15px;}

 #graphresult-content p:first-child{
	margin-top: 0px;}
}

/* ///////////////////////////////////////////////////// */
@media only screen and (min-width: 1850px){
	#wrapper-result{
	width:1920px;
}
#sidenav-content{
	height:2130px;
	width:413px;
}
#tatalogo img{
	margin-left:145px;
	margin-top:82px;
	margin-bottom:67px;
	width:89px;
	height:91px;
}
#nav-result{
	width:1343px;
	margin-top:73px;
}

#nav-result li:first-child{
	margin-left:1150px;
}
.button-result {
	margin-left:99px;
	width:214px;
	height:40px;
	font-size:20px;
	margin-top:20px;
}
.download {
	margin-left:99px;
	width:214px;
	height:40px;
	font-size:20px;
	margin-top:20px;

}
.delete {
	margin-left:99px;
	width:214px;
	height:40px;
	font-size:20px;
	margin-top:20px;
}
#graph-display{
	height:800px;
}

.graph-result{
	width:1198px;
	height:624px;
	margin-left:153px;
	margin-top:60px;
}
.graph-result:first-child{
	margin-top:63px;
}

.batch-display{
	height:725px;
	margin-top: 63px;
	display: flex;
	flex-direction: row;	
	
}
.batch-result{
	width:650px;
	height:605px;
	border:2px solid grey;
	margin-left:34px;
	margin-top:40px;
}

#download-data{
	margin-left: 0;
}
#graphresult-content{
	width:253px;
	margin-left:99px;
	margin-top:60px;
  font-size:20px;
	height:100vh;
}

}

