@charset "UTF-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*scroll bar style*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F4F4F4;
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#CCCCCC; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7E7E7E; 
}
/*end scroll bar style*/
/*nav code*/
#nav{
	width:165px;
	border-right:2px solid #d3d3d3;
	height:941px;
	flex-wrap:wrap;
	margin-right:50px;
	margin-left:66px;
	

}
#logo img{
	margin-top:63px;
	margin-bottom:58px;
	margin-left:30px;
}
#mainnav{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
}
span{
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
}
#circles{
	width:31px;	
	display:flex;
}
#stepnav{
	width:95px;
	display:flex;
	
}
#circles li{
	list-style-type: none;
}
.circles {
	 background: #B7B7B7;
   border-radius:1.1875em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.1875em;
  text-align: center;
  width: 1.1875em;
	
}
.line{
	background-color:#D6D6D6;
	display:inline-block;
	height:50px;
	width:3px;
	margin-left:6px;
	margin-top:5px;
	border-radius:2px 2px 2px 2px;
	
}
.line1{
	background-color:#D6D6D6;
	display:inline-block;
	height:40px;
	width:3px;
	margin-left:6px;
	margin-top:5px;
	border-radius:2px 2px 2px 2px;
	
}

#stepnav dt{
	font-family: 'Oswald', sans-serif;
	font-size:10px;
	line-height:18px;
	color:#B7B7B7;
}
#stepnav dd{
	font-family: 'Montserrat', sans-serif;
	font-size:8px;
	margin-top:5px;
	color:#A5A5A5;
}
#task dt{
	margin-top:50px;
}
#task dt:first-child {
	margin-top:2px;
}
#samples dt{
	margin-top:18px;
}
#samples dt:first-child {
	margin-top:40px;
}
#active{
	background:#FF8C42;
 font-size:18px;
	margin-left:-3px;
}
.active2 {
	color:#FF8C42;
}
#active3{
	background-color:#FF8C42;
}
#complete{
	background:#FF8C42;
}
@media only screen and (min-width: 1270px){ /*changed from 1280px to 1270px by Quang*/
#nav{
	width:208px;
	border-right:2px solid #d3d3d3;
	height:624px;
	flex-wrap:wrap;
	margin-left:110px;
	margin-right:70px;

}

	#logo img{
	margin-top:64px;
	margin-bottom:69px;
	margin-left:30px;
	width:57px;
	height:57px;
}

	span{
	font-size:15px;
}

	#circles{
		width:36px;	
}

	#stepnav{
	width:110px;
	
}

	.circles {
   border-radius:1.5em;
  line-height: 1.5em;
  width: 1.5em;
	
}	

	#stepnav dt{
	font-size:15px;
}

#task dt{
	margin-top:55px;
}

#samples dt{
	margin-top:18px;
}

#samples dt:first-child {
	margin-top:35px;
}

#stepnav dd{
	font-size:9px;
	margin-top:5px;
}

.line{
	margin-left:8.5px;
}

.line1{
	margin-left:8.5px;
}
}
@media only screen and (min-width: 1850px) {
	#nav{
		width:300px;
	margin-left:80px;
	height:1080px;
	margin-right:120px;
		

}
	#wrapper{
		width:1920px;
		margin:0 auto;
	}
	#logo img{
	margin-top:92px;
	margin-bottom:122px;
	margin-left:20px;
	width:90px;
	height:90px;
}
	span{
	font-size:15px;
}

#circles{
		width:62px;	
	
}
 
	#stepnav{
	width:175px;
	
}
	.circles {
   border-radius:2.3125em;
  line-height: 2.3125em;
  width: 2.3125em;
	
}	
	#stepnav dt{
	font-size:25px;
	line-height:30px;
}

#task dt{
	margin-top:81px;
}
#task dt:first-child {
	margin-top:5px;
}

#samples dt{
	margin-top:35px;
}

#samples dt:first-child {
	margin-top:70px;
}

#stepnav dd{
	font-size:15px;
	margin-top:5px;
}
.line{
	height:95px;
	width:3px;
	margin-left:15px;
	margin-top:5px;
	border-radius:5px 5px 5px 5px;
}
.line1{
	height:67px;
	width:3px;
	margin-left:15px;
	margin-top:5px;
	border-radius:5px 5px 5px 5px;
}
}
/*nav code ends*/
/*validation page*/
#wrapper1{
		height:800px;
	}
.flex-container1{
	width:768px;
	display:flex;
	margin:0 auto;
	margin-bottom:40px;
	
}
.nav_container1 {
    display:flex;
	flex-wrap:wrap;
	margin-top:0px;
	margin-left: 410px;
}
#section1 {
  display: flex;
flex-direction:row;
	flex-wrap:wrap;
	margin-top:63px;
	height:784px;
	width:500px;
}
#nav2{
	width:164px;
	border-right:1px solid #D3D3D3;
	height:941px;
	flex-wrap:wrap;
	margin-right:30px;
	margin-left:66px;
}
.validation_cont{
	background-color: #FF8C42;
	
}

.validation_cont:hover {
	background-color: #FF7B26;
}
#validation_info	{
	display: flex;
	flex-direction: row;
	font-family: 'Montserrat', sans-serif;
	color: #797979;
	font-size:13px;
	margin-top:10px;
	margin-right: 20px;
	line-height: 1.5em;
	}

	.initial_info {
		width: 235px;
		margin-right: 25px;
		margin-top: 5px;
	}


#initial_header{
	margin-top: 5px;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color:#797979;
	line-height:22px;
	}

#top_container
{
	margin-top: -45px;
	padding: 15px;
    width: 529px;
    height: 550px;
	margin-bottom: 15px;
	overflow-y: scroll;
	overflow-x: scroll;
	background-color: #F2F2F2;
	
} 
#contents
{ 	margin-right: 10px;
	display: flex;
	flex-direction: column;
	

}
.helpicon {
	margin-left: 1px;
	margin-bottom: 1px;
	height: 15px;
}

.plot_title {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color:#797979;
  line-height:22px;
	margin-bottom: 5px;
	display: inline-block;
}

.drophelp {
	position: relative;
	margin-left: 6px;
	display: inline-block;
	float: left;
}

.helpcontent {
	margin-top: 6px;
	display: none;
	position: absolute;
	background-color: #2EC4B6;
	/*background-color: #F5F5F5;*/
	/*border: 1px solid #E5E5E5;*/
	min-width: 220px;
	max-width: 350px;
	padding: 15px;
	border-radius: 10px;
	z-index: 1;
	font-family: 'Montserrat', sans-serif;
  	color:white;
  	/*color: #797979;*/
	font-weight: 500;
	line-height: 1.4em;
	font-size:14.2px;
}

.drophelp:hover .helpcontent {
	display: block;
	
}
.graphsize {
	/*width: 1035px;*/
	width: 900px; /* changed by Quang*/
	/*height: 650px;*/
	height: 450px; /* changed by Quang*/
	margin-top: 0px;
	margin-bottom: 15px;
	background: #FFFFFF;
	}

@media only screen and (min-width: 1270px){ /*changed from 1280px to 1270px by Quang*/
	#wrapper1{
		height:977px;
	}
	
	.flex-container1{
	width:1280px;
	height: 800px;
	display:flex;
	margin:0 auto;
	
}
	.nav_container1 {
    display:flex;
	flex-wrap:wrap;
	margin-top:0px;
	margin-left: 840px;
	}
	
	#nav2{
	width:208px;
	border-right:1px solid #d3d3d3;
	height:800px;
	flex-wrap:wrap;
	margin-left:40px; /*changed from 20px to 40px by Quang*/
	margin-right:20px;
	
	}
#section1 {
	margin: 0 auto;
  	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin-top:63px;
	height:321px;
	width:933px;
	}


#validation_info	{
	display: flex;
	font-family: 'Montserrat', sans-serif;
	color: #797979;
	font-size:13px;
	margin-top:10px;
	line-height: 1.5em;
	}

	.initial_info {
		width: 440px;
		margin-right: 40px;
	
	}

#initial_header{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color:#797979;
	line-height:15px;
	}
#top_container
{
	margin-top: -45px;
    width: 925px;
    height: 500px;
	margin-bottom: 20px;
	overflow-y: scroll;
	overflow-x: scroll;
	}
}
#nav_container1{
	margin-top:40px;
}
@media only screen and (min-width: 1850px){
	.flex-container1{
	width:1920px;
	height:975px;
	display:flex;
	margin-bottom:88px;
}
	#wrapper1{
		height:1342px;
	}
	.nav_container1 {
    display:flex;
	flex-wrap:wrap;
	margin-top:40px;
	margin-left: 980px;
	}
	#nav2{
	width:300px;
	margin-left:140px;
	height:975px;
	margin-right:30px;

}
	#validation_info	{
	display: flex;
	font-family: 'Montserrat', sans-serif;
	color: #797979;
	font-size:13.5px;
	margin-top:10px;
	line-height: 1.6em;
	}

	.initial_info {
		width: 500px;
		margin-right: 50px;
	
	}

#initial_header{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color:#797979;
	line-height:15px;
	
	}
	#section1 {
	margin: 0 auto;
  	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin-top:70px;
	height:321px;
	width:1070px;
	
	}
#top_container
{
    width: 1070px;
    height: 700px;
	margin-bottom: 20px;
	overflow-y: scroll;
	overflow-x: hidden;

	}
}

/*validation code ends*/
/*task page code*/
/*768*/
#wrapper{
	height:1130px;
	overflow-x: hidden;
	overflow-y: hidden;
}
.flex-container{
	width:768px;
	display:flex;
	margin:0 auto;
}
#section {
  display: flex;
flex-direction:row;
	flex-wrap:wrap;
	margin-top:63px;
	height:784px;
	width:500px;
}
.task2{
margin-top:60px;
}
#boxes{
	display:flex;
	flex-wrap:wrap;
}
.box{
  width:189px;
  height:356px;
  border-radius: 20px;
  background-color:#F5F5F5;
  margin-right:53px;
  transition: box-shadow .3s;
}
.content{
  text-align: center;
  transition:  0.3s;
}
svg{
  color: #797979;
}
h3{
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color:#797979;
  line-height:22px;
}
p{
  font-family: 'Montserrat', sans-serif;
  color: #797979;
	font-size:15px;
	margin-top:15px;
}
/* text hover */

/*  box hover*/
p:hover, .icon:hover, h3:hover{
  color: white;
  fill: white;
}

.nav_container {
    display:flex;
	flex-wrap:wrap;
	margin-top:40px;
	margin-left: 350px;

	
}
.box:hover {
  cursor: pointer;
  box-shadow: 0 0 30px #CCCCCC;
  color: white;
  background-color: #FF8C42;
}
.button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 9pt;
	color: white;
	text-align: center;
	display: block;
	border: none;
	width: 76px;
	height: 25px;
	border-radius: 8px;
	cursor: pointer;
}
.task_cont {
	background-color: #FF8C42;
	
}

.task_cont:hover {
	background-color: #FF7B26;
}
/*begining of responsive code for 1280*/
@media only screen and (min-width: 1270px){ /*changed from 1280px to 1270px by Quang*/

	#wrapper{
		height:800px;
	}

	.flex-container{
	width:1280px;
	display:flex;
	margin:0 auto;
}

	
	#section {
	flex-direction:row;
	margin-top:63px;
	height:400px;
	width:801px;
}

.task2{
margin:0;
}

	.box{
  width:181px;
  height:396px;
  margin-right:18px;
	margin-top:80px;
		flex-wrap:nowrap;
		display:flex;
}


.nav_container {
	margin-top:30px;
	margin-left: 695px;	
}

.button {
	font-size: 15px;
	width: 85px;
	height: 29px;
	
}

h3{
  font-size: 18px;
  line-height:23px;
}
}
/*end of 1280*/
@media only screen and (min-width: 1400px){
	#wrapper{
		height:1342px;
	}
	
	.flex-container{
	width:1920px;
	display:flex;
	margin:0 auto;
	}
	#section {
	margin-top:231px;
	height:670px;
	width:1400px;
}
	#task2{
		margin-top:0px;
	}

	.box{
  width:275px;
  height:654.09px;
  border-radius: 20px;
  margin-right:50px;
margin-top:20px;
}

.nav_container {
	margin-left:1145px;
	margin-top:80px;
	
}
.button {
	font-size: 13.5px;
	width: 98px;
	height: 32px;
}

h3{
  font-size: 2em;
  line-height:45px;
  margin-top:20px;
}
}
/*task page code ends*/

/*footer code was put in a separate botNav.css, but still leave it here for Design team, don't remove it*/
/*footer code*/
#footer{
	width:100vw;
	background-color:#114B5F;
}
#footernav{
	height:190px;
	display:flex;
	flex-wrap:nowrap;
	align:center;
	width:768px;
	margin:auto;
}
#footerlogo{
		display:flex;
	flex-direction:row;
	flex-wrap: nowrap;
}
#footerlogo img{
	margin-top:50px;
	margin-left:57px;
}
#footerlogo p{
	width:236px;
	color:white;
	margin-top:65px;
	margin-left:15px;
	font-size:12px;
	font-family: 'Montserrat', sans-serif;
}
#contact{
	display:flex;
	flex-wrap:nowrap;
}
#contact p{
	color:white;
	margin-top:75px;
	font-size:13px;
	margin-right:40px;
	font-family: 'Montserrat', sans-serif;
	width:100px;
}
#line{
	display:flex;
	border-left: solid white 2px;
	height:68px;
	margin-top:52px;
	margin-right:40px;
	margin-left:30px;
}
#logos{
	margin-top:29px;
}
#logos img{
	flex-wrap:wrap;
	width:94px;
	margin-top:10px;
}
@media only screen and (min-width: 1270px){ /*changed from 1280px to 1270px by Quang*/
	#footernav{
	height:177px;
	width:1280px;
	flex-wrap: wrap;
}

	#footerlogo{
	flex-wrap:wrap;
}

#footerlogo img{
	margin-left:68px;
	margin-top:45px;
	width:60px;
	height:60px;
}

#footerlogo p{
width:400px;
	margin-top:50px;
	margin-left:15px;
	font-size:15px;
	color:white;
}

#contact p{
	margin-top:72px;
	font-size:15px;
	margin-right:70px;
	width:120px;
}

#line{
	height:63px;
	margin-top:53px;
	margin-right:40px;
	margin-left:40px;
}

#logos{
margin-top:50px;
}

#logos img{
	margin-right:98px;
	flex-wrap:nowrap;
	margin-top:0px;
	width:96px;
	height:62px;
}

#logos .oscar{
	width:116.41px;
	height:48.44px;
}
}
@media only screen and (min-width: 1850px) {
	#footernav{
	height:265px;
	width:1920px;
	flex-wrap: wrap;
}
	
	#footerlogo{
	flex-wrap:wrap;
}

#footerlogo img{
	margin-left:68px;
	margin-top:86px;
	width:90px;
	height:90px;
}

#footerlogo p{
width:659px;
	margin-top:113px;
	margin-left:15px;
	font-size:18px;
	color:white;
}

#contact p{
	margin-top:124px;
	font-size:18px;
	margin-right:300px;
	width:120px;
}

#line{
	height:94px;
	margin-top:93px;
	margin-right:48px;
	margin-left:48px;
}
#logos{
margin-top:95px;
}

	#logos .oscar{
	width:174.45px;
	height:72.58px;
	}
#logos img{
	margin-right:89px;
	flex-wrap:nowrap;
	margin-top:0px;
	width:144.06px;
	height:93.64px;
}
}
/*footer code ends*/