@charset "UTF-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*scroll bar style*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F4F4F4;
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#CCCCCC; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7E7E7E; 
}
/*end scroll bar style*/
/*nav code*/
#nav{
	width:165px;
	border-right:2px solid #d3d3d3;
	height:941px;
	flex-wrap:wrap;
	margin-right:50px;
	margin-left:66px;
	

}
#logo img{
	margin-top:63px;
	margin-bottom:58px;
	margin-left:30px;
}
#mainnav{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
}
span{
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
}
#circles{
	width:31px;	
	display:flex;
}
#stepnav{
	width:95px;
	display:flex;
	
}
#circles li{
	list-style-type: none;
}
.circles {
	 background: #B7B7B7;
   border-radius:1.1875em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.1875em;
  text-align: center;
  width: 1.1875em;
	
}
.line{
	background-color:#D6D6D6;
	display:inline-block;
	height:50px;
	width:3px;
	margin-left:6px;
	margin-top:5px;
	border-radius:2px 2px 2px 2px;
	
}
.line1{
	background-color:#D6D6D6;
	display:inline-block;
	height:40px;
	width:3px;
	margin-left:6px;
	margin-top:5px;
	border-radius:2px 2px 2px 2px;
	
}

#stepnav dt{
	font-family: 'Oswald', sans-serif;
	font-size:10px;
	line-height:18px;
	color:#B7B7B7;
}
#stepnav dd{
	font-family: 'Montserrat', sans-serif;
	font-size:8px;
	margin-top:5px;
	color:#A5A5A5;
}
#task dt{
	margin-top:50px;
}
#task dt:first-child {
	margin-top:2px;
}
#samples dt{
	margin-top:18px;
}
#samples dt:first-child {
	margin-top:40px;
}
#active{
	background:#FF8C42;
 font-size:18px;
	margin-left:-3px;
}
.active2 {
	color:#FF8C42;
}
#active3{
	background-color:#FF8C42;
}
#complete{
	background:#FF8C42;
}
@media only screen and (min-width: 1270px){ /*changed from 1280px to 1270px by Quang*/
#nav{
	width:208px;
	border-right:2px solid #d3d3d3;
	height:624px;
	flex-wrap:wrap;
	margin-left:110px;
	margin-right:70px;

}

	#logo img{
	margin-top:64px;
	margin-bottom:69px;
	margin-left:30px;
	width:57px;
	height:57px;
}

	span{
	font-size:15px;
}

	#circles{
		width:36px;	
}

	#stepnav{
	width:110px;
	
}

	.circles {
   border-radius:1.5em;
  line-height: 1.5em;
  width: 1.5em;
	
}	

	#stepnav dt{
	font-size:15px;
}

#task dt{
	margin-top:55px;
}

#samples dt{
	margin-top:18px;
}

#samples dt:first-child {
	margin-top:35px;
}

#stepnav dd{
	font-size:9px;
	margin-top:5px;
}

.line{
	margin-left:8.5px;
}

.line1{
	margin-left:8.5px;
}
}
@media only screen and (min-width: 1850px) {
	#nav{
		width:300px;
	margin-left:80px;
	height:1080px;
	margin-right:120px;
		

}
	#wrapper{
		width:1920px;
		margin:0 auto;
	}
	#logo img{
	margin-top:92px;
	margin-bottom:122px;
	margin-left:20px;
	width:90px;
	height:90px;
}
	span{
	font-size:15px;
}

#circles{
		width:62px;	
	
}
 
	#stepnav{
	width:175px;
	
}
	.circles {
   border-radius:2.3125em;
  line-height: 2.3125em;
  width: 2.3125em;
	
}	
	#stepnav dt{
	font-size:25px;
	line-height:30px;
}

#task dt{
	margin-top:81px;
}
#task dt:first-child {
	margin-top:5px;
}

#samples dt{
	margin-top:35px;
}

#samples dt:first-child {
	margin-top:70px;
}

#stepnav dd{
	font-size:15px;
	margin-top:5px;
}
.line{
	height:95px;
	width:3px;
	margin-left:15px;
	margin-top:5px;
	border-radius:5px 5px 5px 5px;
}
.line1{
	height:67px;
	width:3px;
	margin-left:15px;
	margin-top:5px;
	border-radius:5px 5px 5px 5px;
}
}
/*nav code ends*/
/*validation page*/
#wrapper1{
		height:800px;
	}
.flex-container1{
	width:768px;
	display:flex;
	margin:0 auto;
	margin-bottom:40px;
	
}
.nav_container1 {
    display:flex;
	flex-wrap:wrap;
	margin-top:0px;
	margin-left: 410px;
}
#section1 {
  display: flex;
flex-direction:row;
	flex-wrap:wrap;
	margin-top:63px;
	height:784px;
	width:500px;
}
#nav2{
	width:164px;
	border-right:1px solid #D3D3D3;
	height:941px;
	flex-wrap:wrap;
	margin-right:30px;
	margin-left:66px;
}
.validation_cont{
	background-color: #FF8C42;
	
}

.validation_cont:hover {
	background-color: #FF7B26;
}
#validation_info	{
	display: flex;
	flex-direction: row;
	font-family: 'Montserrat', sans-serif;
	color: #797979;
	font-size:13px;
	margin-top:10px;
	margin-right: 20px;
	line-height: 1.5em;
	}

	.initial_info {
		width: 235px;
		margin-right: 25px;
		margin-top: 5px;
	}


#initial_header{
	margin-top: 5px;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color:#797979;
	line-height:22px;
	}

#top_container
{
	margin-top: -45px;
	padding: 15px;
    width: 529px;
    height: 550px;
	margin-bottom: 15px;
	overflow-y: scroll;
	overflow-x: scroll;
	background-color: #F2F2F2;
	
} 
#contents
{ 	margin-right: 10px;
	display: flex;
	flex-direction: column;
	

}
.helpicon {
	margin-left: 1px;
	margin-bottom: 1px;
	height: 15px;
}

.plot_title {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color:#797979;
  line-height:22px;
	margin-bottom: 5px;
	display: inline-block;
}

.drophelp {
	position: relative;
	margin-left: 6px;
	display: inline-block;
	float: left;
}

.helpcontent {
	margin-top: 6px;
	display: none;
	position: absolute;
	background-color: #2EC4B6;
	/*background-color: #F5F5F5;*/
	/*border: 1px solid #E5E5E5;*/
	min-width: 220px;
	max-width: 350px;
	padding: 15px;
	border-radius: 10px;
	z-index: 1;
	font-family: 'Montserrat', sans-serif;
  	color:white;
  	/*color: #797979;*/
	font-weight: 500;
	line-height: 1.4em;
	font-size:14.2px;
}

.drophelp:hover .helpcontent {
	display: block;
	
}
.graphsize {
	/*width: 1035px;*/
	width: 900px; /* changed by Quang*/
	/*height: 650px;*/
	height: 450px; /* changed by Quang*/
	margin-top: 0px;
	margin-bottom: 15px;
	background: #FFFFFF;
	}

@media only screen and (min-width: 1270px){ /*changed from 1280px to 1270px by Quang*/
	#wrapper1{
		height:977px;
	}
	
	.flex-container1{
	width:1280px;
	height: 800px;
	display:flex;
	margin:0 auto;
	
}
	.nav_container1 {
    display:flex;
	flex-wrap:wrap;
	margin-top:0px;
	margin-left: 840px;
	}
	
	#nav2{
	width:208px;
	border-right:1px solid #d3d3d3;
	height:800px;
	flex-wrap:wrap;
	margin-left:40px; /*changed from 20px to 40px by Quang*/
	margin-right:20px;
	
	}
#section1 {
	margin: 0 auto;
  	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin-top:63px;
	height:321px;
	width:933px;
	}


#validation_info	{
	display: flex;
	font-family: 'Montserrat', sans-serif;
	color: #797979;
	font-size:13px;
	margin-top:10px;
	line-height: 1.5em;
	}

	.initial_info {
		width: 440px;
		margin-right: 40px;
	
	}

#initial_header{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color:#797979;
	line-height:15px;
	}
#top_container
{
	margin-top: -45px;
    width: 925px;
    height: 500px;
	margin-bottom: 20px;
	overflow-y: scroll;
	overflow-x: scroll;
	}
}
#nav_container1{
	margin-top:40px;
}
@media only screen and (min-width: 1850px){
	.flex-container1{
	width:1920px;
	height:975px;
	display:flex;
	margin-bottom:88px;
}
	#wrapper1{
		height:1342px;
	}
	.nav_container1 {
    display:flex;
	flex-wrap:wrap;
	margin-top:40px;
	margin-left: 980px;
	}
	#nav2{
	width:300px;
	margin-left:140px;
	height:975px;
	margin-right:30px;

}
	#validation_info	{
	display: flex;
	font-family: 'Montserrat', sans-serif;
	color: #797979;
	font-size:13.5px;
	margin-top:10px;
	line-height: 1.6em;
	}

	.initial_info {
		width: 500px;
		margin-right: 50px;
	
	}

#initial_header{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color:#797979;
	line-height:15px;
	
	}
	#section1 {
	margin: 0 auto;
  	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin-top:70px;
	height:321px;
	width:1070px;
	
	}
#top_container
{
    width: 1070px;
    height: 700px;
	margin-bottom: 20px;
	overflow-y: scroll;
	overflow-x: hidden;

	}
}

/*validation code ends*/
/*task page code*/
/*768*/
#wrapper{
	height:1130px;
	overflow-x: hidden;
	overflow-y: hidden;
}
.flex-container{
	width:768px;
	display:flex;
	margin:0 auto;
}
#section {
  display: flex;
flex-direction:row;
	flex-wrap:wrap;
	margin-top:63px;
	height:784px;
	width:500px;
}
.task2{
margin-top:60px;
}
#boxes{
	display:flex;
	flex-wrap:wrap;
}
.box{
  width:189px;
  height:356px;
  border-radius: 20px;
  background-color:#F5F5F5;
  margin-right:53px;
	transition: box-shadow .3s;
	border: none
}
.content{
  text-align: center;
  transition:  0.3s;
}
svg{
  color: #797979;
}
h3{
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color:#797979;
  line-height:22px;
}
p{
  font-family: 'Montserrat', sans-serif;
  color: #797979;
	font-size:15px;
	margin-top:15px;
}
/* text hover */

/*  box hover*/
p:hover, .icon:hover, h3:hover{
  color: white;
  fill: white;
}

.nav_container {
    display:flex;
	flex-wrap:wrap;
	margin-top:40px;
	margin-left: 350px;

	
}
.box:hover {
	outline: none;
  cursor: pointer;
  box-shadow: 0 0 30px #CCCCCC;
  color: white;
  background-color: #FF8C42;
}
.box:focus { /*added by Quang, the box stays orange when active*/
	outline: none;
  cursor: pointer;
  box-shadow: 0 0 30px #CCCCCC;
  color: white;
  background-color: #FF8C42;
}
.box:active { /*added by Quang, the box stays orange when active*/
	outline: none;
	cursor: pointer;
  box-shadow: 0 0 30px #CCCCCC;
  color: white;
  background-color: #FF8C42;
}
.button { 
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 9pt;
	color: white;
	text-align: center;
	display: block;
	border: none;
	width: 76px;
	height: 25px;
	border-radius: 8px;
	cursor: pointer;
}
.task_cont {
	background-color: #FF8C42;
	
}

.task_cont:hover {
	background-color: #FF7B26;
}
/*begining of responsive code for 1280*/
@media only screen and (min-width: 1270px){ /*changed from 1280px to 1270px by Quang*/

	#wrapper{
		height:800px;
	}

	.flex-container{
	width:1280px;
	display:flex;
	margin:0 auto;
}

	
	#section {
	flex-direction:row;
	margin-top:63px;
	height:400px;
	width:801px;
}

.task2{
margin:0;
}

	.box{
  width:181px;
  height:396px;
  margin-right:18px;
	margin-top:80px;
		flex-wrap:nowrap;
		display:flex;
}


.nav_container {
	margin-top:30px;
	margin-left: 695px;	
}

.button {
	font-size: 15px;
	width: 85px;
	height: 29px;
	
}

h3{
  font-size: 18px;
  line-height:23px;
}
}
/*end of 1280*/
@media only screen and (min-width: 1400px){
	#wrapper{
		height:1342px;
	}
	
	.flex-container{
	width:1920px;
	display:flex;
	margin:0 auto;
	}
	#section {
	margin-top:231px;
	height:670px;
	width:1400px;
}
	#task2{
		margin-top:0px;
	}

	.box{
  width:275px;
  height:654.09px;
  border-radius: 20px;
  margin-right:50px;
margin-top:20px;
}

.nav_container {
	margin-left:1145px;
	margin-top:80px;
	
}
.button {
	font-size: 13.5px;
	width: 98px;
	height: 32px;
}

h3{
  font-size: 2em;
  line-height:45px;
  margin-top:20px;
}
}
/*task page code ends*/

/*grouping page begins*/
.flex-container3{
	width:768px;
	display:flex;
	margin:0 auto;
	height:1310px;
	
}
#wrapper3{
	height:1500px;
}
#nav3{
	width:165px;
	border-right:2px solid #d3d3d3;
	height:1310px;
	flex-wrap:wrap;
	margin-right:30px;
	margin-left:46px;
	

}
#groupflex-section{
	display: flex;
	flex-direction: column;
	margin-top:63px;
	margin-bottom: 63px;
}
	#sample-section{
		font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
		justify-content:space-around;
    margin: 0 auto;
    height: 492px;
    width: 500px;
		border: 1px solid black;
		padding: 45px 0px;
		border-radius: 20px;
		border-color: #E5E5E5;
		overflow-y: auto;
	}
 #all1 > ul {
 	    	list-style: none;
 	    	float: left;
				width: 378px;
				height:auto;
 	    }
 	 #all1 li {
 			text-decoration: none;
 		  display: block;
 			padding: 10px;
 			background: white;
 			border-radius: 10px;
 			color: #114B5F;
      border: 1px solid #E5E5E5;
 			text-align: center;
 			margin: 0 0 5px 0;

 			-webkit-transition: all 0.2s ease;
 			-moz-transition: all 0.2s ease;
 			-o-transition: all 0.2s ease;
 	    }
 	  #all1:hover li {
 			opacity: 0.2;
 	    }
 	  #all1:hover ul:hover li {
 			opacity: 0.5;
 	    }
 	  #all1:hover ul:hover li:hover {
 			opacity: 1;
 	    }
.sample-container {
      display: block;
      position: relative;
      cursor:grabbing;
      font-size: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .sample-container input {
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
		/* Create a custom checkbox */
		.checkmark-sample {
			position: relative;
			float: right;
			top: 0;
			left: 0;
			height: 20px;
			width: 20px;
			border-radius: 5px;
			background-color: #F5F5F5;
			border: 1px solid #A3A3A3;
		}

		/* On mouse-over, add a grey background color */
		.sample-container:hover input ~ .checkmark-sample {
			background-color: white;
		}

		/* When the checkbox is checked, add a blue background */
		.sample-container input:checked ~ .checkmark-sample {
			background-color: #2EC4B6;
		}

		/* Create the checkmark/indicator (hidden when not checked) */
		.checkmark-sample:after {
			content: "";
			display: none;
		}

		/* Show the checkmark when checked */
		.sample-container input:checked ~ .checkmark-sample:after {
			display: block;

		}

		/* Style the checkmark/indicator */
		.sample-container .checkmark-sample:after {
			position: relative;
			left: 6px;
			top: 0px;
			width: 5px;
			height: 15px;
			border: solid white;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		/* grippy */
	span.grippy {
	content: '....';
	width: 8px;
	height: 12px;
	display: inline-block;
	overflow: hidden;
	line-height: 3px;
	padding: 3px 4px;
	cursor: move;
	vertical-align: middle;
	margin-top: -.7em;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	color: #114B5F;
	text-shadow: 1px 0 1px black;
}
span.grippy::after {
	content: '.. .. .. ..';
}
/* section sample */

/* bottom css group section */
#group-section{
  font-family: 'Montserrat', sans-serif;
  justify-content:space-around;
	overflow-y: auto;
  margin: 20px auto;
  width: 500px;
	height: 560px;
  border: 1px solid;
  border-radius: 20px;
  border-color: #E5E5E5;
}
#nav_group1 {
 display: flex;
 justify-content: space-between;
 padding: 35px 35px 15px;
}
.styled-select {
  height: 32px;
  /* overflow: hidden; */ /*changed by Quang*/
  width: 193px;
  border: 1px solid #E5E5E5;
}

.styled-select select {
  font-family: 'Montserrat', sans-serif;
  background: #F5F5F5;
  border: none;
  font-size: 14px;
  height: 32px;
  padding: 5px;
  width: 193px;
}

.rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.gtex_group {
    background-color: #114B5F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 9pt;
    color: white;
    text-align: center;
    display: block;
    border: none;
    width: 170px;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.reset_group{
  background-color:#BA4C4C;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 9pt;
  color: white;
  text-align: center;
  display: block;
  border: none;
  width: 122px;
  height: 25px;
  border-radius: 8px;
  cursor: pointer;
}
/* ------------------------------------------------------- */
.grid-container{
  display: grid;
  grid-template-columns: auto;
}
#sample-drop-field{

    justify-content: center;
}
/* -------------------- */
#nav_group2{
  display: block; /* Need to be block for pop up purpose */
  justify-content: center;
  padding: 28px 35px 16px;

}

form {
	text-align: left;

	width: 310px;
	border-radius: 5px;

}

.signIn{
	border-bottom: 2px solid #CCCCCC;
	border-radius: 1px;
	width: 92%;
		z-index: 1;
		opacity: 3;
}
input{
	outline: none !important;
}
input {
	border: none;
	font-family: 'Montserrat', sans-serif;
  font-weight:700;
	color:#114B5F;
	text-align: left;
	font-size: 15px;
  margin-left: 3px;
  padding-right: 60px
}

label.container{
  color:#CCCCCC;
  font-weight:400;
  font-size: 12px;
}
/* ------- */
#group-box{
  display: flex;
  justify-content: center;
	margin:auto;
}
[data-draggable="target"]
{
    list-style-type:none;
    width:378px;
    height:95px;
    overflow-y:auto;
    /* margin:0 0.5em 0.5em 0; */
    padding:0.5em;
    border-radius:15px;
    background-color: #F5F5F5;
    border: 1px solid #E5E5E5;
}

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"]
{
    border-color:#FF8C42;

    background:#FF8C42;
}

/* drop target focus and dragover state */
[data-draggable="target""item"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover
{
    outline:none;

    box-shadow:0 0 0 1px #fff, 0 0 0 3px #FF8C42;
}

/* draggable items */
[data-draggable="item"]
{
    display:block;
    list-style-type:none;

    margin:0 0 2px 0;
    padding:0.2em 0.4em;

    border-radius:0.2em;

    line-height:1.3;
}

/* items focus state */
[data-draggable="item"]:focus
{
    outline:none;
    box-shadow:0 0 0 2px #FF8C42, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"]
{
    background:#FF8C42;
    color:#FF8C42;
}
.nav_container3 {
    display:flex;
	flex-wrap:wrap;
  margin-top: 20px;
	margin-left: 368px;
  margin-bottom: 35px;

}
.buttontask_cont {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 9pt;
	color: white;
  background-color: #FF8C42;
	text-align: center;
	display: block;
	border: none;
	width: 76px;
	height: 25px;
	border-radius: 8px;
	cursor: pointer;
}
@media only screen and (min-width: 1270px) {
		.flex-container3{
	width:1280px;
	height: 900px;
	display:flex;
	margin:0 auto;
	
}
	#wrapper3{
		height:1077px;
	}
	#nav3{
		    height:900px;
				margin-right:60px;
		margin-left:66px;
	}
	#groupflex-section{
		display: flex;
		flex-direction: row;
		margin-top:63px;
		margin-bottom: 63px;
	}
	#sample-section{
		justify-content: space-around;
		width:295px;
		height: 711px;
		margin-right: 45px;
		padding: 35px 35px 35px;
	}
	#group-section{
	  margin: 0 auto;
		height: 779px;
		overflow-y: scroll;
	}
	#all1 > ul {
		float: left; width: 270px;
	}
	#all1 li {
		width:auto;
	}
 .sample-container input {
		 margin-right: 141px;
		  }
}
@media only screen and (min-width: 1850px) {
		.flex-container3{
	width:1920px;
	height:1080px;
	display:flex;
	margin-bottom:60px;
}
	#wrapper3{
		height:1344px;
	}
#nav3{
			height: 1140px;
			margin-right:60px;
	width:300px;
}
#nav_group1 {
	padding: 35px 35px 35px;
}
#nav_group2 {
	 padding: 16px 35px 16px;
}
#groupflex-section{
	display: flex;
	flex-direction: row;
	margin-top:63px;
	margin-bottom: 63px;
	
}
#sample-section{
	justify-content: space-around;
	height: 955px;
	width: 490px;
	margin-right: 20px;
	padding: 35px 35px 35px;
	
}
#group-section{
	height: 1025px;
	margin: 0 auto;
	width: 860px;
	overflow-y: hidden;
		

}

button.gtex_group{
	margin-right: 20px;
}
#all1 > ul {
	float: left; width: 430px;
}
#all1 li {
	width:auto;
}
.sample-container input {
	 margin-right: 270px;
		}
.sample-container{
	font-size: 20px;
}
span.grippy{
	height: 13px;
	line-height: 4px;
}
#group-button{
	display: flex;
}
.grid-container{
	display: grid;
  grid-template-columns: auto auto;
}
[data-draggable="target"]
{
    list-style-type:none;
    width:370px;
	}
.nav_container3 {
	margin-left: 740px;
}
.signIn {
	width: 97%;
}
input{
	padding-right:22px;
}
}
/*grouping page ends*/

/*footer code was put in a separate botNav.css, but still leave it here for Design team, don't remove it*/
/*footer code*/
#footer{
	width:100vw;
	background-color:#114B5F;
}
#footernav{
	height:190px;
	display:flex;
	flex-wrap:nowrap;
	align:center;
	width:768px;
	margin:auto;
}
#footerlogo{
		display:flex;
	flex-direction:row;
	flex-wrap: nowrap;
}
#footerlogo img{
	margin-top:50px;
	margin-left:57px;
}
#footerlogo p{
	width:236px;
	color:white;
	margin-top:65px;
	margin-left:15px;
	font-size:12px;
	font-family: 'Montserrat', sans-serif;
}
#contact{
	display:flex;
	flex-wrap:nowrap;
}
#contact p{
	color:white;
	margin-top:75px;
	font-size:13px;
	margin-right:40px;
	font-family: 'Montserrat', sans-serif;
	width:100px;
}
#line{
	display:flex;
	border-left: solid white 2px;
	height:68px;
	margin-top:52px;
	margin-right:40px;
	margin-left:30px;
}
#logos{
	margin-top:29px;
}
#logos img{
	flex-wrap:wrap;
	width:94px;
	margin-top:10px;
}
@media only screen and (min-width: 1270px){ /*changed from 1280px to 1270px by Quang*/
	#footernav{
	height:177px;
	width:1280px;
	flex-wrap: wrap;
}

	#footerlogo{
	flex-wrap:wrap;
}

#footerlogo img{
	margin-left:68px;
	margin-top:45px;
	width:60px;
	height:60px;
}

#footerlogo p{
width:400px;
	margin-top:50px;
	margin-left:15px;
	font-size:15px;
	color:white;
}

#contact p{
	margin-top:72px;
	font-size:15px;
	margin-right:70px;
	width:120px;
}

#line{
	height:63px;
	margin-top:53px;
	margin-right:40px;
	margin-left:40px;
}

#logos{
margin-top:50px;
}

#logos img{
	margin-right:98px;
	flex-wrap:nowrap;
	margin-top:0px;
	width:96px;
	height:62px;
}

#logos .oscar{
	width:116.41px;
	height:48.44px;
}
}
@media only screen and (min-width: 1900px) {
	#footernav{
	height:265px;
	width:1920px;
	flex-wrap: wrap;
}
	
	#footerlogo{
	flex-wrap:wrap;
}

#footerlogo img{
	margin-left:68px;
	margin-top:86px;
	width:90px;
	height:90px;
}

#footerlogo p{
width:659px;
	margin-top:113px;
	margin-left:15px;
	font-size:18px;
	color:white;
}

#contact p{
	margin-top:124px;
	font-size:18px;
	margin-right:300px;
	width:120px;
}

#line{
	height:94px;
	margin-top:93px;
	margin-right:48px;
	margin-left:48px;
}
#logos{
margin-top:95px;
}

	#logos .oscar{
	width:174.45px;
	height:72.58px;
	}
#logos img{
	margin-right:89px;
	flex-wrap:nowrap;
	margin-top:0px;
	width:144.06px;
	height:93.64px;
}
}
/*footer code ends*/


/*gtex module code begins*/
#wrapper4{
	margin: 0 auto;
	width:768px;
	height:780px;
	border:1px #D3D3D3 solid;
	border-radius:10px;
}
#gtex h1{
	font-size:25px;
	 font-family: 'Oswald', sans-serif;
	color:#114B5F;
	line-height:45px;
}

#topcontent{
	display:flex;
	flex-direction:row;
	margin-left:65px;
	margin-top:20px;
}
#topcontent h2{
	margin-right:5px;
}
#controlgroup {
	margin-left:35px;
}
#sample{
	margin-left:35px;
}
#sample h3{
	font-size:35px;
    font-family: 'Oswald', sans-serif;
	line-height:40px;
	color:#114B5F;
	
}
#age_drop_down{
	margin-right:17.5px;
}
.sex-dropdown{
	margin-right:17.5px;
}
#all{
	margin-left:65px;
}
#controlgroup input {
	border: 1px solid #D3D3D3;
border-radius:10px;
	background-color:#F5F5F5;
	height:40px;
	width:304px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 15px;
	outline: none !important;
}
#bottomcontent{
	display:flex;
	flex-direction:row;
	margin-top:25px;
	margin-bottom:25px;
	height:40px;
	margin-left:65px;
}


h2{
	font-size:16px;
	color:#797979;
	font-family: 'Montserrat', sans-serif;
	margin-bottom:10px;
	margin-top:10px;
	margin-right:5px;
}
/* width */
::-webkit-scrollbar {
 width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #F4F4F4;
 border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background:#CCCCCC;
 border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #7E7E7E;
}
#gtexbuttons{
	display:flex;
	flex-direction:row;
	margin-left:395px;

}
.buttoncancel {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 13.5pt;
	color: white;
	text-align: center;
	display: block;
	border: none;
	width: 98px;
	height: 32px;
	border-radius: 8px;
	margin: 5px;
	margin-right:25px;
	float: right;
	cursor: pointer;
}
.buttongroup {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 13.5pt;
	color: white;
	text-align: center;
	display: block;
	border: none;
	width: 166px;
	height: 32px;
	border-radius: 8px;
	margin: 5px;
	float: right;
	cursor: pointer;
}
.buttoncancel {
	background-color: #FF8C42;
}

.buttoncancel:hover {
	background-color: #FF7B26;
}

.buttongroup:hover {
	background-color: #0E3C4C;
}

.buttongroup {
	background-color: #114B5F;
}


#all{
	height:480px;
	width:670px;
	display:flex;
}
#title{
	margin-left:65px;
	
}
#set1{
	height:650px;
	display:flex;
	flex-direction:row;
}
 #set1 > ul { 
	    	list-style: none;
	    	float: left; width: 321.17px;
	    	padding: 0 5px 0 0; 
	    }
#set1 li { 
			text-decoration: none; 
			display: block; 
			padding: 5px;
			background: white; 
			border:#D3D3D3 1px solid;
			border-radius: 10px; 
			color:#114B5F; 
			text-align:left;
			margin-right:15px;
	margin-bottom:5px;
			font-family: 'Montserrat', sans-serif;
			font-size:12px;
	        height:15px;
			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
	    }

	    #all li:hover {
			border:#FF8C42 1px solid;
	    }
   
.ms-options-wrap,
.ms-options-wrap * {
    box-sizing: border-box;
	
	
}



/*/////////////// drop down style ////////////////////*/

.ms-options-wrap > button:focus,
.ms-options-wrap > button {
	cursor: pointer;
    position: relative;
    width: 100px;
	height:32px;
	border-radius: 8px;
    text-align: left;
    border: 1px solid #D3D3D3;
    background-color: #F5F5F5;
    margin-top: 1px;
    font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
    color: #aaa;
    outline-offset: -2px;
    white-space: nowrap;
	outline:none;
}

.ms-options-wrap > button > span {
    display: inline-block;
}

.ms-options-wrap > button[disabled] {
    background-color: #228DF7;
    color: #808080;
    opacity: 0.6;
}
/*/////////////// Drop down button arrow ////////////////////*/

.ms-options-wrap > button:after {
    content: ' ';
    height: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -3px;
}

/*/////////////// Selected text color in dropdown ////////////////////*/

.ms-options-wrap.ms-has-selections > button {
    color: #646464;
	
}


/*/////////////// Dropdown Box style ////////////////////*/

.ms-options-wrap > .ms-options {
    position:relative;
    left: 0;
	border-radius: 10px;
    width: 155px;
    margin-top: 1px;
    background: white;
    z-index: 2000;
    border: 1px solid #D6D6D6;
    overflow: auto;
	font-family: 'Montserrat', sans-serif;
	color: #707070;
	font-size: .8em;
	font-weight: 400;
    visibility: hidden;
}

/* Visibility of drop down*/

.ms-options-wrap.ms-active > .ms-options {
    visibility: visible;
}

/* Search box options */
.ms-options-wrap > .ms-options > .ms-search input {
    width: 100%;
    padding: 4px 5px;
    border: none;
    border-bottom: 1px groove;
    outline: none;
}

/*/////////////// Select all style ////////////////////*/

.ms-options-wrap > .ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
	color: #114B5F;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
    text-transform: lowercase;
    text-decoration: none;
	
}
.ms-options-wrap > .ms-options .ms-selectall:hover {
    text-decoration: none;
	cursor: pointer;
}

.ms-options-wrap > .ms-options > .ms-selectall.global {
    margin: 5px 10px;
}

/*/////////////// Options Style ////////////////////*/

.ms-options-wrap > .ms-options > ul,
.ms-options-wrap > .ms-options > ul > li.optgroup ul {
    list-style-type: none;
    padding: 0;
	padding-left: 5px;
	padding-bottom: 6px;
    margin: 0;
}

.ms-options-wrap > .ms-options > ul li.ms-hidden {
    display: none;
}

.ms-options-wrap > .ms-options > ul > li.optgroup {
    padding: 5px;
}
.ms-options-wrap > .ms-options > ul > li.optgroup + li.optgroup {
    border-top: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > ul > li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.ms-options-wrap > .ms-options > ul label {
    position: relative;
    display: inline-block;
    width: 95%;
    padding: 4px 4px 4px 20px;
    margin: 1px 0;
    border: 1px solid transparent;
}
.ms-options-wrap > .ms-options.checkbox-autofit > ul label,
.ms-options-wrap > .ms-options.hide-checkbox > ul label {
    padding: 4px;
}

/*////////////////////// color of box when option is hovered /////////////*/
.ms-options-wrap > .ms-options > ul label.focused,
.ms-options-wrap > .ms-options > ul label:hover {
    background-color: #efefef;
	border-radius: 5px;
	cursor: pointer;
   /* border-color: #999;*/
}

/*////////////////////// color of box when option is selected /////////////*/
.ms-options-wrap > .ms-options > ul li.selected label {
    background-color: #efefef;
    border-color: transparent;
	border-radius: 5px;
	outline:none;
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
    margin: 0 5px 0 0;
    position: absolute;
    left: 4px;
    top: 7px;
	cursor: pointer;
	  
}

.ms-options-wrap > .ms-options.hide-checkbox > ul input[type="checkbox"] {
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);	
}

.popup-inner {  
	position: absolute; 
	border-radius: 10px;
	left: 10%;
	right: 10%; 
	width:768px;
	height:780px;  
	top: 2%; 
    margin: 0 auto;   
  }
/*gtex module code ends*/

/*batch correction code begins*/
#batch-wrapper{
	height:1130px;
	overflow-x: hidden;
	overflow-y: hidden;
}
.batch-flex-container{
	width:768px;
	display:flex;
	margin:0 auto;


}

/*////////////////// Nav ///////////////////*/

#nav-batch{
	width:164px;
	border-right:1px solid #D3D3D3;
	height:941px;
	flex-wrap:wrap;
	margin-right:2px;
	margin-left:66px;
}
#logo img{
	margin-top:63px;
	margin-bottom:58px;
	margin-left:30px;
}
#mainnav{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
}
span{
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
}
#circles{
	width:31px;
	display:flex;
}
#stepnav{
	width:95px;
	display:flex;

}
#circles li{
	list-style-type: none;
}
.circles {
  background: #B7B7B7;
  border-radius:1.1875em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.1875em;
  text-align: center;
  width: 1.1875em;

}
.line{
	background-color:#D6D6D6;
	display:inline-block;
	height:50px;
	width:3px;
	margin-left:6.5px;
	margin-top:5px;
	border-radius:2px 2px 2px 2px;

}
.line1{
	background-color:#D6D6D6;
	display:inline-block;
	height:40px;
	width:3px;
	margin-left:6.5px;
	margin-top:5px;
	border-radius:2px 2px 2px 2px;

}

#stepnav dt{
	font-family: 'Oswald', sans-serif;
	font-size:10px;
	line-height:18px;
	color:#B7B7B7;
}

#stepnav dd{
	font-family: 'Montserrat', sans-serif;
	font-size:8px;
	margin-top:5px;
	color:#A5A5A5;
}

#task dt{
	margin-top:50px;
}

#task dt:first-child {
	margin-top:2px;
}

#samples dt{
	margin-top:18px;
}

#samples dt:first-child {
	margin-top:40px;
}

/*.task2{
margin-top:60px;
}*/

#active{
	background:#FF8C42;
 font-size:18px;
	margin-left:-3px;
}

.active2 {
	color:#FF8C42;
}

/*////////////////// Continue and Back Buttons ///////////////////*/

.nav_container4 {
    display:flex;
	flex-wrap:wrap;
	margin-top:40px;
	margin-left: 410px;
}

.box:hover {
  cursor: pointer;
  box-shadow: 0 0 30px #CCCCCC;
  color: white;
  background-color: #FF8C42;
}

.button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 9pt;
	color: white;
	text-align: center;
	display: block;
	border: none;
	width: 76px;
	height: 25px;
	border-radius: 8px;
	cursor: pointer;
}

.batch_cont{
	background-color: #FF8C42;

}

.batch_cont:hover {
	background-color: #FF7B26;
}

/*////////////// batch Text Info ////////////////////*/
#batch-section {
	margin: 0 auto;
  	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin-top:63px;
	height:784px;
	width:500px;
}

#batch-content
{ margin-right: 10px;
	display: flex;
	flex-direction: column;

}

#batch_corrected_section{
border: 1px solid #E5E5E5;
width: 410px;
margin-bottom: 17px;
padding: 15px;
border-radius: 20px;
}

.drophelp {
	position: relative;
	margin-left: 6px;
	display: inline-block;
	float: left;
}
.batch_title {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color:#114B5F;
  line-height:22px;
	margin-bottom: 5px;
	display: inline-block;
}

.helpicon {
	margin-left: 1px;
	margin-bottom: 1px;
	height: 15px;
}

.helpcontent_batch {
	margin-top: 6px;
	display: none;
	position: absolute;
	background-color: #2EC4B6;
	/*background-color: #F5F5F5;*/
	/*border: 1px solid #E5E5E5;*/
	min-width: 220px;
	max-width: 350px;
	padding: 15px;
	border-radius: 10px;
	z-index: 1;
	font-family: 'Montserrat', sans-serif;
  	color:white;
  	/*color: #797979;*/
	font-weight: 500;
	line-height: 1.4em;
	font-size:14.2px;
}

.drophelp:hover .helpcontent_batch {
	display: block;

}
/* graph sizes  */
.corrected-graphsize {
	width: 400px;
	height: 260px;
	margin-top: 25px;
	background:#ededed;
/* place graph in this gray area */
}
/* end of graph sizes */

/* corrrection dropdown */
#batch-bottom-container{
		display: flex;
		flex-direction: column;
	}

#batch-bottom-container2{
		margin-bottom: 20px;
	}

#correction_header{
	margin: 12px 12px;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color:#114B5F;
	line-height:22px;
	}

/* below is dropdown style */
	.batch-styled-select {
	background: #F5F5F5;
 	height: 32px;
 	/*overflow: hidden;*/
 	width: 95px;
 	border: 1px solid #E5E5E5;
  }

  .batch-styled-select select {
 	font-family: 'Montserrat', sans-serif;
 	background: #F5F5F5;
 	border: none;
 	font-size: 14px;
 	height: 32px;
 	padding: 5px;
 	width: 87px;
	outline: none;
  }

  .rounded {
 	-webkit-border-radius: 10px;
 	-moz-border-radius: 10px;
 	border-radius: 10px;
  }
 /* end of dropdown style */
		/* slider section */

/*///////////////////////////// Scroll Bar Style ///////////////////////////////*/

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F4F4F4;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#CCCCCC;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7E7E7E;
}

/*//////////////////////////// end of 768 footer ////////////////////////////*/


/*//////////////////////////// begining of 1270 nav //////////////////////////*/

@media only screen and (min-width: 1270px) {
	#batch-wrapper{
		height:977px;
	}


.batch-flex-container{
	width:1280px;
	height: 800px;
	display:flex;
	margin:0 auto;
}


	#nav-batch{
	width:208px;
	border-right:1px solid #d3d3d3;
	height:800px;
	flex-wrap:wrap;
	margin-left:40px;
	margin-right:10px;

}


	#logo img{
	margin-top:64px;
	margin-bottom:69px;
	margin-left:30px;
	width:57px;
	height:57px;
}


	span{
	font-size:15px;
}


	#circles{
		width:36px;
}


	#stepnav{
	width:110px;

}


	.circles {
   border-radius:1.5em;
  line-height: 1.5em;
  width: 1.5em;

}


	#stepnav dt{
	font-size:15px;
}


#task dt{
	margin-top:55px;
}



#samples dt{
	margin-top:18px;
}

#samples dt:first-child {
	margin-top:35px;
}


#stepnav dd{
	font-size:9px;
	margin-top:5px;
}


.line{
	margin-left:8.5px;
}


.line1{
	margin-left:8.5px;
}

/*end of 1280 nav*/

/*////////////////// Continue and Back Buttons 1270///////////////////*/

.nav_container4 {
    display:flex;
	flex-wrap:wrap;
	margin-top:20px;
	margin-left: 890px;
	}


.box:hover {
  cursor: pointer;
  box-shadow: 0 0 30px #CCCCCC;
  color: white;
  background-color: #FF8C42;
	}


.button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 9pt;
	color: white;
	text-align: center;
	display: block;
	border: none;
	width: 76px;
	height: 25px;
	border-radius: 8px;
	cursor: pointer;
	}


.batch_cont {
	background-color: #FF8C42;

	}


.batch_cont:hover {
	background-color: #FF7B26;
	}

/*////////////// correction dropdown section 1270/////////////////////////////*/



#correction_header{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	margin-bottom: 20px;
	color:#114B5F;
	line-height:15px;
	}

/*//////////// Edit Graphs 1270///////////////////*/


.corrected-graphsize {
	width: 460px;
	height: 450px;
	margin-top: 0px;
	margin-bottom: 25px;
	background: #ededed;
	}

	}
/*////////////////////////1270////////////////////////*/
@media only screen and (min-width: 1270px) {

	#batch-section{
	flex-direction:row;
	margin-top:63px;
	height:400px;
	width:1000px;
}
#batch-content
{ margin-right: 10px;
	display: flex;
	flex-direction: row;

}
#batch_corrected_section{
	display: flex;
  flex-direction: column;
 	width:460px;
	margin-right: 10px;

}

#batch-bottom-container{
	display: flex;
	flex-direction: column;
}
#batch-bottom-container2{
	margin-right: 80px;
}
.batch-styled-select select {
	font-size: 15px;
}

	}
/*//////////////////////////// begining of 1920 //////////////////////////*/
@media only screen and (min-width: 1850px) {

/*begining of 1920 nav*/

	#batch-wrapper{
		height:1342px;
	}


.batch-flex-container{
	width:1920px;
	height:975px;
	display:flex;

}


	#nav-batch{
	width:300px;
	margin-left:140px;
	height:975px;
	margin-right:20px;

}


	#logo img{
	margin-top:92px;
	margin-bottom:122px;
	margin-left:20px;
	width:90px;
	height:90px;
}


	span{
	font-size:15px;
}


	#circles{
		width:62px;
}


	#stepnav{
	width:175px;

}


	.circles {
   border-radius:2.3125em;
  line-height: 2.3125em;
  width: 2.3125em;

}


	#stepnav dt{
	font-size:25px;
	line-height:30px;
}


#task dt{
	margin-top:81px;
}


#task dt:first-child {
	margin-top:5px;
}


#samples dt{
	margin-top:35px;
}


#samples dt:first-child {
	margin-top:70px;
}


#stepnav dd{
	font-size:15px;
	margin-top:5px;
}


.line{
	height:95px;
	width:3px;
	margin-left:15px;
	margin-top:5px;
	border-radius:5px 5px 5px 5px;
}


.line1{
	height:67px;
	width:3px;
	margin-left:15px;
	margin-top:5px;
	border-radius:5px 5px 5px 5px;
}

/*end of 1920 nav*/


/*////////////////// Continue and Back Buttons ///////////////////*/


.nav_container4 {
    display:flex;
	flex-wrap:wrap;
	margin-top:9px;
	margin-left: 1260px;
	}


.box:hover {
  cursor: pointer;
  box-shadow: 0 0 30px #CCCCCC;
  color: white;
  background-color: #FF8C42;
	}


.button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 9pt;
	color: white;
	text-align: center;
	display: block;
	border: none;
	width: 76px;
	height: 25px;
	border-radius: 8px;
	cursor: pointer;
	}


.batch_cont {
	background-color: #FF8C42;

	}


.batch_cont:hover {
	background-color: #FF7B26;
	}


/*////////////// Bottom section /////////////////////////////*/


#correction_header{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color:#114B5F;
	line-height:15px;
	margin-bottom: 40px;
	}

#batch-section {
	margin: 0 auto;
  	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin-top:70px;
	height:702px;
	width:1400px;
	}

	#batch_corrected_section{
		display: flex;
	  flex-direction: column;
	 width: 645px;
	 height: 605px;
	 margin-right: 10px;
	}
 .batch_title {
	 font-size: 20px;
 }
	#batch-content
	{
	 margin-right: 10px;
	 display: flex;
	 flex-direction: row;

	}

.corrected-graphsize {
	width: 645px;
	height: 605px;
	margin-top: 0px;
	margin-bottom: 15px;
	background: #ededed;
	}

}

/* batch correction page code ends */